<?xml version="1.0"?>
<configuration>
  <system.web>
    <xhtmlConformance mode="Transitional"/>
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add namespace="MUI" tagPrefix="mui"/>
      </controls>
    </pages>
  </system.web>  
</configuration>
